/*============ BASE VARIABLES =================*/


// Greys
$bg-colour: #f0f0f0;
$filter-button: #fbfbfb;
$filter-heading-colour: #dadada;
$main-text: #909090;

$fund-button: #c4c4c4;
$fund-button-hover: darken(#c4c4c4, 10%);

// Other Colours
$ab-turquoise: #50BEAF;
$call-to-action: #B94B9B;
$table-heading: rgba(80, 190, 175, .3);

// NAV Change Colours
$change-up: #7ED321;
$change-down: #D32121;
