.ktsys-filter__search{
	box-sizing: border-box;
	padding: 10px 45px 10px 10px;
    margin-top: 15px;
	border: 1px solid $ab-turquoise;
	text-align: left;
	font-family: 'Klavika Regular', sans-serif;
    color: black;
	font-size: responsive 15px 14px;
	width: 100%;
    
    @include breakpoint(medium) {
        max-width: 300px;
    }
}

.ktsys-filter__search-icon{
	position: absolute;
	z-index: 2;
    top: 25px;
    right: 10px;
    cursor: pointer;
	background-image: url(../images/desktop_search.png);
    background-position: 0 -19px;
	@include size(19px);
    
    @include breakpoint(medium) {
        left: 270px;
    }
}

.ktsys-filter__search-container--hk .ktsys-filter__search{
    @include size(100%, 43px);
}